name: Build & Deploy
on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy NodeJS app
        uses: appleboy/ssh-action@v0.1.2
        with:
          host: ${{secrets.SSH_HOST}} # IP address of the server you wish to ssh into
          key: ${{secrets.SSH_KEY}} # Private or public key of the server
          username: ${{ secrets.SSH_USERNAME }} # User of the server you want to ssh into
          script: |
            git -C app pull || git clone --recurse-submodules git@github.com:KosolapovR/food_recipes_container.git app
            cd ./app
            git submodule update --recursive --remote || git submodule update --init --recursive
            docker rmi $(docker images -f "dangling=true" -q)
            docker-compose down && docker-compose build --no-cache && docker-compose up -d
            exit 0
