name: Build & Deploy
on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy NodeJS app
        uses: appleboy/ssh-action@v0.1.2
        with:
          host: ${{secrets.SSH_HOST}} # IP address of the server you wish to ssh into
          key: ${{secrets.SSH_KEY}} # Private or public key of the server
          username: ${{ secrets.SSH_USERNAME }} # User of the server you want to ssh into
          script: |
            git -C app pull || git clone --recurse-submodules git@github.com:KosolapovR/food_recipes_container.git app
            cd ./app/server
            git fetch 
            git merge
            cd ../
            docker-compose build
            docker-compose up -d
            echo 'Deployment successful to digital ocean'
